<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
    {{ if .IsPage }}
    <meta name="description" content="{{ .Description | default .Summary }}" />
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}" />
    {{ end }}
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/fira.css" rel="stylesheet">
    {{ with .OutputFormats.Get "rss" -}}
      <link rel="{{ .Rel }}" type="application/rss+xml" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }} – {{ $.Title }}">
    {{ else }}
      <link rel="alternate" type="application/rss+xml" href="/index.xml" title="{{ $.Site.Title }}" />
    {{ end -}}
  </head>
  <body>
      <nav class="navbar">
        <div class="page-horizontal">
            <ul class="navbar__items">
              <li class="navbar__item navbar__home">
                <a href="/">
                  <img class="navbar__logo" src="/logo.svg" alt="Logo Codeurs en Liberté" height="40px" />
                  {{ .Site.Title }}
                </a>
              </li>
              <li class="navbar__item">
                <a href="/a-propos/qui/">Qui sommes-nous&nbsp;?</a>
              </li>
              {{ range .Site.Menus.main }}
                {{ if ne .Name "A-propos" }}
                  <li class="navbar__item">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              {{ end }}
            </ul>
        </div>
    </nav>

    <main class="page-horizontal">
